<h2>Add Product</h2>

<section>
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="addProduct()">
                <div class="form-group form-control-lg">
                    <label for="name">Name</label>
                    <input id="name" [(ngModel)]="product.name" name="name" required>
                </div>
                <div class="form-group form-control-lg">
                    <label for="price">Price</label>
                    <input id="price" [(ngModel)]="product.price" name="price" required>
                    <hr>
                </div>
                <button class="btn btn-success me-md-2 btn-block"type="submit">Add</button>
            </form>
        </div>
    </div>
</section>