<body>

<app-header></app-header>

<nav class="navBar">
    <ul>
    <a class="button" routerLink="/product-list" routerLinkActive="activebutton">Lista de Producto</a>
    <a class="button" routerLink="/product-add" routerLinkActive="activebutton">Add</a>
    <a class="button"  routerLink="/product-edit" routerLinkActive="activebutton">Edit</a>
    <a class="button"  routerLink="/product-delete" routerLinkActive="activebutton">Delete</a>
    </ul>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>

</body>